.AnimationBox {
  position: relative;
  left: 0;
  width: 10%;
  animation: translate 15s infinite linear;
}
.animated {
  width: 55px;
  height: 55px;
  background-image: url(../../img/paper-plane.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 100px auto; /* Adjust the margin based on your layout */

  position: absolute;
  animation: upDown 1.5s alternate infinite ease-in-out;
}

@keyframes upDown {
  to {
    transform: translatey(100px);
  }
}
@keyframes translate {
  to {
    transform: translatex(900%);
  }
}
