.Home {
  width: 100%;
  height: 100%;
  background-color: #301e35;
}
.homeImg {
  width: 100%;
  height: 500px;
}
.imgBox {
  width: 100%;
  height: 1000px;
  background-image: url(img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  text-align: center;
}
.linkToPosts {
  height: 60%;
  width: 180px;
  opacity: 0.5;
  background-color: #503e2c87;
  text-align: center;
  padding: 20px;
}
.linkToPosts:hover {
  opacity: 1;
}

/* .h1Main {
  color: #413838;
  font-size: 80px;
  width: 1400px;
  height: 170px;
  margin-top: 260px;
  background-color: rgb(179, 159, 138); /* Fallback color
  background-color: rgba(179, 159, 138, 0.7); 
}
.h1MainBox {
  text-align: center;
  padding: 10px;
} */

.flip {
  margin: 50px;
}
.flip2 {
  margin: 50px;
}
.flip12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ebebeb;
  gap: 200px;
}

.images {
  margin-top: 100px;
}
.imgBox1 {
  width: 500px;
  height: 450px;
  margin: 10px;
  background-image: url(img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.imgBox3 {
  width: 300px;
  height: 450px;
  margin: 10px;
  background-image: url(img/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.imgBox2 {
  width: 300px;
  height: 450px;
  margin: 10px;
  background-image: url(img/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.imgBox4 {
  width: 500px;
  height: 450px;
  margin: 10px;
  background-image: url(img/4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu {
  font-family: "Arial", sans-serif;
  width: 100%;
}

.menu-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: black;
}

.menu-items {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  font-size: 20px;
  color: black;
}

.menu-items li {
  cursor: pointer;
  color: black;
  transition: color 0.3s ease;
}

.menu-items li:hover {
  color: #705574;
}

.logo {
  background-image: url(img/logo.png);
  width: 100px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  height: 250px;
  margin-top: 100px;
}

.componentAbout {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 200px;
}
