.bgAvatar {
  width: 150px !important;
  height: 150px !important;
  margin-left: 25px;
  margin-top: 25px;
}

.AvatarWrap {
  height: 20%;
  width: 100%;
}

.about {
  margin-left: 65px;
  margin-top: 40px;
  font-size: 30px;
  color: whitesmoke;
}

.SignOut {
  margin-top: 30px;
}

.sideMenu {
  width: 20%;
  min-width: 250px;
  height: 100%;
  background-image: url(../../Authentication/Flip/img/backImage.png);
  background-repeat: no-repeat;
  background-size: cover;
}
