.Card3 {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: row;
  background-image: url(../../Authentication/Flip/img/front-back.png);
  background-size: cover;
  text-align: center;
  display: block;
}

.text3 {
  margin-right: 35px;
  margin-top: 8px;
  font-size: 20px;
}

.img3 {
  width: 400px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar3 {
  padding: 6%;
  width: 40px !important; 
  height: 40px !important;
  border-radius: 50%;
}

.username3 {
  height: 30px;
  font-size: 20px;
  color: white;
}

.title3 {
  margin-top: 10px;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
}

.titleText3 {
  color: white;
  text-align: center;
  font-size: 20px;
  margin: 0;
}

.info3 {
  display: flex;
  flex-direction: row;
}

.infoText3 {
  margin-top: 20px;
  width: 80%;
  padding-right: 50px;
  padding-left: 50px;

}

.flip-card13 {
  background-color: transparent;
  width: 400px;
  height: 600px;
  perspective: 1000px;
  margin: 20px;
}

.flip-card-inner13 {
  position: absolute;
  width: 400px;
  height: 600px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 22px 1px rgba(230, 173, 233, 0.75);
}

.rot13 {
  transform: rotateY(-180deg);
}

.flip-card-front13,
.flip-card-back13 {
  position: absolute;
  width: 400px;
  height: 600px;
  backface-visibility: hidden;
}

.flip-card-front13 {
  background-image: url(../../Authentication/Flip/img/front-back.png);
  background-size: cover;
  color: white;
}

.flip-card-back13 {
  background-color: white;
  color: white;
  transform: rotateY(180deg);
  flex-wrap: wrap;
  overflow: auto;
}

.username3,
.titleText3
{
  color: white;
  font-size: 20px;
}

.descText3
{
  color: white;
  font-size: 14px;
}

.desc3 {
  margin: 10px;
  padding: 10px;
}

.date3 {
  margin-top: auto;
  text-align: right;
  font-size: 15px;
  padding: 10px;
}

.dateText3 {
color: white;
font-size: 15px;
}